CLIENT_CODE=clientA

APP_NAME="BEGE-CRM"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://crm.domain.com

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=begecrm_db
DB_USERNAME=begecrm_user
DB_PASSWORD=@@Naonbeo123!
DB_ROOT_PASSWORD=@@Naonbeo123!

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RADIUS_DB_HOST=radiusdb
RADIUS_DB_PORT=3306
RADIUS_DB_DATABASE=radius
RADIUS_DB_USERNAME=radius
RADIUS_DB_PASSWORD=@@Naonbeo123!
RADIUS_DB_ROOT_PASSWORD=@@Naonbeo123!
